.slideInLeftToRight {
	animation: slideInLeftToRight 1.4s ease-in-out forwards;
	transform: translateX(-50%);
	opacity: 0;
}

.slideInRightToLeft {
	animation: slideInRightToLeft 1.4s ease-in-out forwards;
	transform: translateX(50%);
	opacity: 0;
}

.fadeIn {
	animation: fadeIn 1.4s ease-in-out forwards;
	opacity: 0;
}

.fadeInUp.show {
	animation: fadeInUp 1.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
	transform: translateX(4rem);
	opacity: 0;
}

.rotate {
	animation: rotate 16s linear infinite;
	opacity: 1;
}

@keyframes slideInLeftToRight {
	0% {
		opacity: 0;
		transform: translateX(-50%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideInRightToLeft {
	0% {
		opacity: 0;
		transform: translateX(50%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(4rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}