.slideInLeftToRight {
	animation-name: slideInLeftToRight;
	animation-duration: 1.4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	transform: translateX(-50%);
	opacity: 0;
}

.slideInRightToLeft {
	animation-name: slideInRightToLeft;
	animation-duration: 1.4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	transform: translateX(50%);
	opacity: 0;
}

.fadeIn {
	animation-name: fadeIn;
	animation-duration: 1.4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	opacity: 0;
}

.fadeInUp {
	opacity: 0;
}

.fadeInUp.show {
	animation-name: fadeInUp;
	animation-duration: 1.6s;
	animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
	animation-fill-mode: forwards;
	transform: translateX(4rem);
	opacity: 0;
}

.slideInUp {
	& span {
		transform: translate(0, 105%);
		transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
	}

	&.show span {
		transform: translate(0, 0);
	}
}

@for $i from 2 through 10 {
  .slideInUp span:nth-child(#{$i}) {
	  transition-delay: 0.06s * ($i - 1);
  }
}

.slideInUp span:nth-child(2) {
  transition-delay: 0.06s;
}

.rotate {
	animation: rotate 16s linear infinite;
	opacity: 1;
}

.typing {
	opacity: 0;
	padding-right: 0.3rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #F4732B;
    line-height: 1.2;
    animation: typing 2.4s steps(19, end) forwards, cursor .24s steps(19, end) infinite;
}

@keyframes typing {
    from {
    	width: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes slideInLeftToRight {
	0% {
		opacity: 0;
		transform: translateX(-50%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideInRightToLeft {
	0% {
		opacity: 0;
		transform: translateX(50%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(4rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}