/**********************
 Import fonts
***********************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Tenor+Sans&display=swap');

@font-face {
	font-family: 'Bangla MN';
	src: url('dist/assets/BanglaMN.svg#Bangla MN') format('svg'); /* iOS 4.1- */
}

/**********************
 Sass setting
***********************/
$siteName: 'ah';

:root {
	--#{$siteName}_full-width: 90rem;
	--#{$siteName}_font-family: 'Montserrat', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', sans-serif;
	--#{$siteName}_main-color: #FDCCB1;
	--#{$siteName}_accent-color: #EE864C;
	--#{$siteName}_sub-color: #94AAF6;
	--#{$siteName}_main-text-color: #464646;
	--#{$siteName}_bg-color: #fcf3ee;
	--#{$siteName}_bg-sub-color: #FFE5D7;
	--#{$siteName}_link-color: rgba(70, 70, 70, 0.8);
	--#{$siteName}_transition: all 0.2s ease-in-out;
}

/**********************
 Style
***********************/
html{
	scroll-behavior: smooth;
}

body {
	background-color: var(--#{$siteName}_bg-color);
	overflow: hidden;
}

a,button {
	cursor: pointer;
}

.#{$siteName} {
	&_wrapper {
		position: relative;
		overflow-x: hidden;
	}
}

@import "reset";
@import "setting/**";
@import "common/**";
@import "contents/**";
@import "animation";
