/**********************
 Import fonts
***********************/
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Montserrat+Alternates:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Tenor+Sans&display=swap');
@font-face {
	font-family: 'Bangla MN';
	src: url('dist/assets/BanglaMN.svg#Bangla MN') format('svg'); /* iOS 4.1- */
}

/**********************
 Sass setting
***********************/
$siteName: 'ah';

:root {
	--#{$siteName}_full-width: 90rem;
	--#{$siteName}_font-family: 'Montserrat', 'BIZ UDGothic', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', sans-serif;
	--#{$siteName}_main-color: #FFBD99;
	--#{$siteName}_accent-color: #F4732B;
	--#{$siteName}_sub-color: #829BEF;
	--#{$siteName}_main-text-color: #3B3937;
	--#{$siteName}_bg-color: #FEF0E8;
	--#{$siteName}_bg-sub-color: #FFE5D7;
	--#{$siteName}_link-color: #4D4A49;
	--#{$siteName}_transition: all 0.4s ease-in-out;
}

/**********************
 Style
***********************/
html{
	scroll-behavior: smooth;
}

body {
	background-color: var(--#{$siteName}_bg-color);
	overflow: hidden;
}

a,button {
	cursor: pointer;
}

.#{$siteName} {
	&_wrapper {
		position: relative;
		overflow-x: hidden;
	}
}

@import "reset";
@import "setting/**";
@import "common/**";
@import "contents/**";
@import "animation";
