<html lang="ja">
<head prefix="og:http://ogp.me/ns#">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="dist/css/style.css">
  <link rel="icon" href="dist/assets/favicon.ico">
  <link rel="icon" href="dist/assets/favicon.png">
  <link rel="apple-touch-icon" href="dist/assets/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="dist/assets/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
  <title>Ayaka Hoshino</title>
  <meta name="description" content="My Portfolio - Front End Developer">
  <meta name="keywords" content="Ayaka Hoshino, Portfolio, fontend developer">
  <meta property="og:title" content="Ayaka Hoshino">
  <meta property="og:description" content="My Portfolio - Front End Developer">
  <meta property="og:url" content="https://aykhsn.github.io/portfolio/">
  <meta property="og:image" content="https://aykhsn.github.io/portfolio/dist/assets/ogp.png">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Ayaka Hoshino">
  <meta property="og:locale" content="ja_JP">
  <meta name="twitter:card" content="summary_large_image">
</head>
<body>
<div id="vm" class="ah_wrapper">
<div id="loading" class="ah_loading">
	<div class="ah_loading-triangle">
		<img class="ah_mv-triangle" src="dist/assets/triangle.svg">
	</div>
	<div class="ah_loading-logo">
		<img src="dist/assets/logo.svg">
	</div>
	<div class="ah_loading-wave">
		<img src="dist/assets/wave-h.svg">
	</div>
</div>
<nav class="ah_navigation">
	<div class="ah_navigation-logo_wrapper fadeIn">
		<button type="button" @click="scrollToTarget('Top')">
			<img class="ah_navigation-logo rotate" src="dist/assets/logo.svg" alt="Ayaka Hoshino's Portfolio">
		</button>
	</div>
	<ul id="Navigation" class="ah_navigation-items fadeIn">
		<li v-for="item in navigationItems" class="ah_navigation-item">
			<button :name="item" @click="scrollToTarget(item)">{{ item }}</button>
		</li>
	</ul>
</nav>
<section id="Top" class="ah_block ah_mv">
	<div class="ah_block-inner ah_mv-inner">
		<div class="ah_mv-header">
			<div class="ah_mv-language fadeIn loaded-animation">
				<button type="button" :disabled="isEn" :class="['ah_mv-language_button', isEn? 'ah_mv-language_button--active' : '']" @click="switchLang(true)">EN</button>
				<span>/</span>
				<button type="button" :disabled="!isEn" :class="['ah_mv-language_button', isEn? '' : 'ah_mv-language_button--active']" @click="switchLang(false)">JA</button>
			</div>
		</div>
		<div class="ah_mv-block">
			<div class="ah_mv-block_left">
				<div class="ah_mv-block_top slideInLeftToRight loaded-animation">
					<h1>
						<img class="ah_pc--view" src="dist/assets/name-right.svg" alt="Ayaka Hoshino">
						<img class="ah_sp--view" src="dist/assets/name-left.svg" alt="Ayaka Hoshino">
					</h1>
				</div>
				<div class="ah_mv-block_middle">
					<h2 id="typing" class="cssanimation typing loaded-animation">
						<span v-if="isEnTyping">Front End Developer</span>
						<span class="ah_text-s" v-else>フロントエンドエンジニア</span>
					</h2>
				</div>
			</div>
			<div class="ah_mv-block_center">
				<span class="ah_mv-block_center-bg fadeInColor loaded-animation"></span>
				<div class="ah_mv-picture_wrapper">
					<img class="ah_mv-picture fadeInUp loaded-animation" src="dist/assets/mv_picture.svg" alt="profile picture">
					<span class="fadeInUp loaded-animation"></span>
				</div>
			</div>
			<div class="ah_mv-block_right slideInRightToLeft loaded-animation">
				<transition name="v_fade">
					<p key="fade-a" v-if="isEn">Hello! I’m a Front End Developer / Web Designer based in Tokyo. I also like to draw illustrations.</p>
					<p key="fade-b" v-else>東京を拠点にフロントエンドエンジニア・WEBデザイナーとして活動しています。イラストを描くことも好きです。</p>
				</transition>
			</div>
		</div>
		<div class="ah_mv-footer">
			<div class="ah_mv-triangle_wrapper">
				<img class="ah_mv-triangle fadeInUp loaded-animation" src="dist/assets/triangle.svg">
			</div>
		</div>
	</div>
</section>
<section id="About" class="ah_block ah_about">
	<div class="ah_block-inner">
		<div class="ah_block-header fadeInUp">
			<h2>About me</h2>
			<p v-if="isEn">I'm from Aichi and live in Tokyo. I studied topology and 3DCG animation in college.<br>Since 2015, as a web designer and front-end developer in a business company, I was mainly involved in the new development of owned media. At the same time, I got a degree in art while working. From 2019, I have engaged design and operation of art work exhibitions, planning and editing web contents in the e-commerce site management company for contemporary art. Then I became a freelancer in 2021.</p>
			<p v-else>愛知県生まれ、東京都在住。<br>大学時代に位相幾何学と3DCGアニメーションを学ぶ。2015年より事業会社のWEBデザイナー・フロントエンドエンジニアとして、主にオウンドメディアの新規開発に携わる。働きながら芸術の学位を取得し、2019年に現代アートのECサイト運営会社へ転職。作品展示の設計・運営やWEBコンテンツの企画・編集に従事した後、2021年にフリーランスとして独立。</p>
		</div>
	</div>
</section>
<section id="Skills" class="ah_block ah_skills">
	<div class="ah_block-inner">
		<div class="ah_block-header fadeInUp">
			<h2>Skills</h2>
			<p v-if="isEn">These are the main skills and experiences I use to create websites.</p>
			<p v-else>WEBサイト制作に使用している主なスキルと経験値です。</p>
		</div>
		<div class="ah_skills-content">
			<ul id="barGraph">
				<li class="fadeInUp">
					<div class="ah_skills-content_name">
						<span>HTML5 / CSS3</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--90">
						<span></span>
					</div>
					<div class="ah_skills-content_value">
						<span>90%</span>
					</div>
				</li>
				<li class="fadeInUp">
					<div class="ah_skills-content_name">
						<span>JavaScript / ES11</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--90">
						<span></span>
					</div>
					<div class="ah_skills-content_value">
						<span>90%</span>
					</div>
				</li>
				<li class="fadeInUp">
					<div class="ah_skills-content_name">
						<span>Vue.js</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--80">
						<span></span>
					</div>
					<div class="ah_skills-content_value">
						<span>80%</span>
					</div>
				</li>
				<li class="fadeInUp">
					<div class="ah_skills-content_name">
						<span>TypeScript</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--60">
						<span></span>
					</div>
					<div class="ah_skills-content_value">
						<span>60%</span>
					</div>
				</li>
				<li class="fadeInUp">
					<div class="ah_skills-content_name">
						<span>ReactNative / Redux</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--50">
						<span></span>
					</div>
					<div class="ah_skills-content_value">
						<span>50%</span>
					</div>
				</li>
				<li class="fadeInUp">
					<div class="ah_skills-content_name">
						<span>Wordpress / Shopify</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--70">
						<span></span>
					</div>
					<div class="ah_skills-content_value">
						<span>70%</span>
					</div>
				</li>
				<li class="fadeInUp">
					<div class="ah_skills-content_name">
						<span>Figma</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--60">
						<span></span>
					</div>
					<div class="ah_skills-content_value">
						<span>60%</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<section id="Works" class="ah_block ah_works">
	<div class="ah_block-inner">
		<div class="ah_block-header fadeInUp">
			<h2>Works</h2>
			<p v-if="isEn">These are my main jobs. After having front-end development works for some of owned media, I am currently creating corporate sites and e-commerce sites.</p>
			<p v-else>これまでの主な仕事です。オウンドメディアのフロントエンド開発を経て、現在は企業のコーポレイトサイトやECサイトを制作しています。</p>
		</div>
		<div class="ah_works-content">
			<ul>
				<li class="ah_works-content_item">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year fadeInUp">
								<span>2023</span>
							</div>
							<div class="ah_works-content_image fadeInUp">
								<a href="https://modernity.jp/pages/loop" target="_blank">
									<img srcset="dist/assets/works_loop-s.png 400w, dist/assets/works_loop-m.png 768w, dist/assets/works_loop.png 1200w" src="dist/assets/worksloop.png" alt="loop website">
								</a>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title fadeInUp">
								<h3>Loop earplugs</h3>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">Design and Translation of Landing Page</p>
										<p v-else>ランディングページのデザイン・翻訳</p>
									</li>
									<li>
										<p v-if="isEn">Front-end development and Embedding into Shopify</p>
										<p v-else>フロントエンド実装・Shopify への埋め込み</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I used</h4>
								<p>Figma / Shopify / Liquid / Gulp / Sass / EJS</p>
							</div>
							<div class="ah_works-content_member fadeInUp">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
								</div>
								<p>Design & Front-end × 1</p>
							</div>
						</div>
					</div>
				</li>
				<li class="ah_works-content_item">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year fadeInUp">
								<span>2022</span>
							</div>
							<div class="ah_works-content_image fadeInUp">
								<a href="https://modernity.jp/" target="_blank">
									<img srcset="dist/assets/works_modernity-s.png 400w, dist/assets/works_modernity-m.png 768w, dist/assets/works_modernity.png 1200w" src="dist/assets/works_modernity.png" alt="modernity website">
								</a>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title fadeInUp">
								<h3>Modernity</h3>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">Front-end development of each brand, and Operation and Maintenance</p>
										<p v-else>各ブランドのフロントエンド新規開発・その他運用保守</p>
									</li>
									<li>
										<p v-if="isEn">Creating campaign setting function by customizing Shopify</p>
										<p v-else>キャンペーン表示予約機能の Shopify カスタマイズ実装</p>
									</li>
									<li>
										<p v-if="isEn">Creating product color selection function by customizing Shopify</p>
										<p v-else>商品カラー選択機能の Shopify カスタマイズ実装</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I used</h4>
								<p>Shopify / Liquid / Gulp / Sass / EJS / ES11 / jQuery</p>
							</div>
							<div class="ah_works-content_member fadeInUp">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
								</div>
								<p>Design × 1</p>
								<p>Front-end × 1</p>
							</div>
						</div>
					</div>
				</li>
				<li class="ah_works-content_item">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year fadeInUp">
								<span>2022</span>
							</div>
							<div class="ah_works-content_image fadeInUp">
								<a onclick="window.location.reload(true);">
									<img srcset="dist/assets/works_portfolio-s.png 400w, dist/assets/works_portfolio-m.png 768w, dist/assets/works_portfolio.png 1200w" src="dist/assets/works_portfolio.png" alt="portfolio website">
								</a>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title fadeInUp">
								<h3>My Portfolio</h3>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">Design, Material production and Front-end development</p>
										<p v-else>デザイン、素材制作とフロントエンド開発</p>
									</li>
									<li>
										<p v-if="isEn">Creating read more function with Vue.js</p>
										<p v-else>Vue.js でのもっと見る機能の実装</p>
									</li>
									<li>
										<p v-if="isEn">Creating CSS Animation with GSAP</p>
										<p v-else>GSAP での CSS Animation の実装</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I used</h4>
								<p>Figma / Gulp / Sass / EJS / ES11 / Vue.js</p>
							</div>
							<div class="ah_works-content_member fadeInUp">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
								</div>
								<p>Design & Front-end × 1</p>
							</div>
							<div class="ah_works-content_sns fadeInUp">
								<a href="https://github.com/aykhsn/portfolio" target="_blank">
									<img src="dist/assets/github.svg">
								</a>
							</div>
						</div>
					</div>
				</li>
				<li class="ah_works-content_item">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year fadeInUp">
								<span>2021</span>
							</div>
							<div class="ah_works-content_image fadeInUp">
								<a href="https://lp.and-art.jp/campaigns/4/" target="_blank">
									<img srcset="dist/assets/works_andart-lp-s.png 400w, dist/assets/works_andart-lp-m.png 768w, dist/assets/works_andart-lp.png 1200w" src="dist/assets/works_andart-lp.png" alt="andart website">
								</a>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title fadeInUp">
								<h3>ANDART</h3>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">Front-end development of Landing page</p>
										<p v-else>ランディングページのフロントエンド開発</p>
									</li>
									<li>
										<p v-if="isEn">Creating slider with Swiper.js plugin</p>
										<p v-else>Swiper.js でのスライダーの作成</p>
									</li>
									<li>
										<p v-if="isEn">Creating accordion menu with JavaScript</p>
										<p v-else>JavaScript でのアコーディオンメニューの実装</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I used</h4>
								<p>Gulp / Sass / EJS / ES11</p>
							</div>
							<div class="ah_works-content_member fadeInUp">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
								</div>
								<p>Design × 1</p>
								<p>Front-end × 1</p>
							</div>
						</div>
					</div>
				</li>
				<li v-if="worksAllShow" class="ah_works-content_item ah_works-content_item-no-image" id="readmore">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year fadeInUp">
								<span>2019</span>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title fadeInUp">
								<h3 v-if="isEn">auGame</h3>
								<h3 v-else>auゲーム</h3>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">Front-end development of landing page for operation and maintenance</p>
										<p v-else>ランディングページ運用保守でのフロントエンド開発</p>
									</li>
									<li>
										<p v-if="isEn">Creating Web Components for componentize the UI</p>
										<p v-else>UI コンポーネント化のための Web Components の導入</p>
									</li>
									<li>
										<p v-if="isEn">Creating Utility CSS for reuse components</p>
										<p v-else>コンポーネント再利用のための Utility CSS の導入</p>
									</li>
									<li>
										<p v-if="isEn">Creating Tailwind CSS for CSS framework</p>
										<p v-else>CSSフレームワークに Tailwind CSS の導入</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I used</h4>
								<p>Tailwind CSS / Webpack / Web Components</p>
							</div>
							<div class="ah_works-content_member fadeInUp">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
								</div>
								<p>Design × 1</p>
								<p>Front-end × 2</p>
							</div>
						</div>
					</div>
				</li>
				<li v-if="worksAllShow" class="ah_works-content_item ah_works-content_item-no-image">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year fadeInUp">
								<span>2018</span>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title fadeInUp">
								<h3 v-if="isEn">Library manager</h3>
								<h3 v-else>社内図書管理システム</h3>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">UI design with Atomic Design</p>
										<p v-else>アトミックデザインによる UI デザイン</p>
									</li>
									<li>
										<p v-if="isEn">Development of Mobile App in View + ViewModel</p>
										<p v-else>モバイルアプリ開発で View + ViewModel を担当</p>
									</li>
									<li>
										<p v-if="isEn">Introducing ReactNative and Redux for cross-platform development</p>
										<p v-else>クロスプラットフォーム開発のために React Native, Redux を導入</p>
									</li>
									<li>
										<p v-if="isEn">Teamwork in agile without a director</p>
										<p v-else>ディレクターを配置しないアジャイル開発でのチームワーク</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I used</h4>
								<p>Type Script / React Native / Redux / Firebase / Atomic Design</p>
							</div>
							<div class="ah_works-content_member fadeInUp">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
								</div>
								<p>Design × 1</p>
								<p>Front-end × 1</p>
								<p>Back-end × 3</p>
							</div>
						</div>
					</div>
				</li>
				<li v-if="worksAllShow" class="ah_works-content_item ah_works-content_item-no-image">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year fadeInUp">
								<span>2017</span>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title fadeInUp">
								<h3 v-if="isEn">Tsuretette</h3>
								<h3 v-else>つれてって</h3>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">Design and Front-end development of information site for launch new site</p>
										<p v-else>情報サイトのデザイン制作とフロントエンドの新規開発</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I used</h4>
								<p>Adobe Illustrator / Adobe Photoshop / Sketch / inVision / Gulp / Webpack / FLOCSS / ES6 / jQuery / Vue.js</p>
							</div>
							<div class="ah_works-content_member fadeInUp">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
								</div>
								<p>Design & Front-end × 1</p>
								<p>Back-end × 2</p>
							</div>
						</div>
					</div>
				</li>
				<li v-if="worksAllShow" class="ah_works-content_item ah_works-content_item-no-image">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year fadeInUp">
								<span>2016</span>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title fadeInUp">
								<h3 v-if="isEn">Advertisement Posting System</h3>
								<h3 v-else>広告配信システムSDK</h3>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">Front-end development for launch new system</p>
										<p v-else>フロントエンドの新規開発</p>
									</li>
									<li>
										<p v-if="isEn">Customizing text editor plugins</p>
										<p v-else>テキストエディターのプラグインのカスタマイズ</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I used</h4>
								<p>Gulp / Webpack / ES6 / jQuery / Vue.js</p>
							</div>
							<div class="ah_works-content_member fadeInUp">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
								</div>
								<p>Front-end × 1</p>
								<p>Back-end × 4</p>
							</div>
						</div>
					</div>
				</li>
				<li v-if="worksAllShow" class="ah_works-content_item ah_works-content_item-no-image">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year fadeInUp">
								<span>2015</span>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title fadeInUp">
								<h3>Camily</h3>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">Front-end development of information site for launch new site</p>
										<p v-else>情報サイトのフロントエンド新規開発</p>
									</li>
									<li>
										<p v-if="isEn">Creating AMP for user-first experiences</p>
										<p v-else>ユーザー体験向上に向けた AMP の導入</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description fadeInUp">
								<h4>What I used</h4>
								<p>Gulp / Webpack / BEM / ES6 / jQuery / Vue.js</p>
							</div>
							<div class="ah_works-content_member fadeInUp">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
								</div>
								<p>Design × 1</p>
								<p>Front-end × 2</p>
								<p>Back-end × 1</p>
							</div>
						</div>
					</div>
				</li>
				<li v-if="!worksAllShow" class="ah_works-content_button-wrapper ah_works-content_item">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left fadeInUp">
						</div>
						<div class="ah_works-content_block-right">
							<button type="button" @click="switchWorks" class="ah_works-content_button fadeInUp">
								<span>Read more</span>
							</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<section id="Other" class="ah_block ah_other">
	<div class="ah_block-inner">
		<div class="ah_block-header fadeInUp">
			<h2>Other</h2>
			<p v-if="isEn">I like drawing illustrations, especially character design.</p>
			<p v-else>イラストを描くこと、特にキャラクターデザインが好きです。</p>
		</div>
	</div>
	<div class="ah_other-content">
		<ul>
			<li>
				<img class="fadeInUp" srcset="dist/assets/other_animal-1-s.png 400w, dist/assets/other_animal-1-m.png 768w, dist/assets/other_animal-1.png 1200w" src="dist/assets/other_animal-1.png">
			</li>
			<li>
				<img class="fadeInUp" srcset="dist/assets/other_animal-2-s.png 400w, dist/assets/other_animal-2-m.png 768w, dist/assets/other_animal-2.png 1200w" src="dist/assets/other_animal-2.png">
			</li>
			<li>
				<img class="fadeInUp" srcset="dist/assets/other_animal-3-s.png 400w, dist/assets/other_animal-3-m.png 768w, dist/assets/other_animal-3.png 1200w" src="dist/assets/other_animal-3.png">
			</li>
			<li>
				<img class="fadeInUp" srcset="dist/assets/other_animal-4-s.png 400w, dist/assets/other_animal-4-m.png 768w, dist/assets/other_animal-4.png 1200w" src="dist/assets/other_animal-4.png">
			</li>
			<li>
				<img class="fadeInUp" srcset="dist/assets/other_baby-1-s.png 400w, dist/assets/other_baby-1-m.png 768w, dist/assets/other_baby-1.png 1200w" src="dist/assets/other_baby-1.png">
			</li>
			<li>
				<img class="fadeInUp" srcset="dist/assets/other_baby-2-s.png 400w, dist/assets/other_baby-2-m.png 768w, dist/assets/other_baby-2.png 1200w" src="dist/assets/other_baby-2.png">
			</li>
			<li>
				<img class="fadeInUp" srcset="dist/assets/other_baby-3-s.png 400w, dist/assets/other_baby-3-m.png 768w, dist/assets/other_baby-3.png 1200w" src="dist/assets/other_baby-3.png">
			</li>
			<li>
				<img class="fadeInUp" srcset="dist/assets/other_baby-4-s.png 400w, dist/assets/other_baby-4-m.png 768w, dist/assets/other_baby-4.png 1200w" src="dist/assets/other_baby-4.png">
			</li>
			<li>
				<img class="fadeInUp" srcset="dist/assets/other_line-1-s.png 400w, dist/assets/other_line-1-m.png 768w, dist/assets/other_line-1.png 1200w" src="dist/assets/other_line-1.png">
			</li>
			<li>
				<img class="fadeInUp" srcset="dist/assets/other_line-2-s.png 400w, dist/assets/other_line-2-m.png 768w, dist/assets/other_line-2.png 1200w" src="dist/assets/other_line-2.png">
			</li>
			<li>
				<img class="fadeInUp" srcset="dist/assets/other_line-3-s.png 400w, dist/assets/other_line-3-m.png 768w, dist/assets/other_line-3.png 1200w" src="dist/assets/other_line-3.png">
			</li>
			<li>
				<img class="fadeInUp" srcset="dist/assets/other_line-4-s.png 400w, dist/assets/other_line-4-m.png 768w, dist/assets/other_line-4.png 1200w" src="dist/assets/other_line-4.png">
			</li>
		</ul>
	</div>
</section>
<footer id="Contact" class="ah_footer">
	<div class="ah_footer-content fadeInUp">
		<span>Ayaka Hoshino</span>
		<a href="https://www.facebook.com/ayaka.hoshino.7" target="_blank">
			<img src="dist/assets/facebook-icon.svg" alt="facebook icon">
		</a>
	</div>
	<div class="ah_mv-language fadeInUp">
		<button type="button" :disabled="isEn" :class="['ah_mv-language_button', isEn? 'ah_mv-language_button--active' : '']" @click="switchLang(true)">EN</button>
		<span>/</span>
		<button type="button" :disabled="!isEn" :class="['ah_mv-language_button', isEn? '' : 'ah_mv-language_button--active']" @click="switchLang(false)">JA</button>
	</div>
	<div class="ah_footer-license">
		<p>&copy;Ayaka Hoshino</p>
		<p>WebFont: <a href="http://www.onlinewebfonts.com" target="_blank">ONline Web Fonts</a></p>
	</div>
</footer>
</div>
<script src="dist/js/vue.min.js"></script>
<script src="dist/js/smoothscroll.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/gsap@3.7.0/dist/gsap.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/gsap@3.7.0/dist/ScrollTrigger.min.js"></script>
<script src="dist/js/main.min.js"></script>
</body>
</html>
