<section id="About" class="ah_block ah_about">
	<div class="ah_block-inner">
		<div class="ah_block-header">
			<h2>About me</h2>
			<p v-if="isEn">I have been working as a front-end developer since 2015.<br>After working for an owned media site at an internet advertising company for 4 years, I became independent as a freelancer.<br>Currently, I am involved in the development of shopping sites and landing pages, with a design perspective that focuses on layout and color schemes.</p>
			<p v-else>愛知県生まれ、東京都在住。<br>大学時代に位相幾何学と3DCGアニメーションを学ぶ。2015年に事業会社のWEBデザイナー・フロントエンドエンジニアとして、主にオウンドメディアの新規開発に携わる。働きながら芸術の学位を取得し、2019年に現代アートのECサイト運営会社へ転職。作品展示の企画運営やWEBコンテンツの企画編集に従事した後、2021年にフリーランスとして独立。</p>

		</div>
	</div>
</section>