<section class="ah_block ah_about">
	<div class="ah_block-inner">
		<div class="ah_block-header">
			<h2>About me</h2>
			<p>I have been working as a front-end developer since 2015.<br>After working for an owned media site at an internet advertising company for 4 years, I became independent as a freelancer.<br>Currently, I am involved in the development of shopping sites and landing pages, with a design perspective that focuses on layout and color schemes.</p>
		</div>
	</div>
</section>