<section id="About" class="ah_block ah_about">
	<div class="ah_block-inner">
		<div class="ah_block-header">
			<h2>About me</h2>
			<p v-if="isEn">I have been working as a front-end developer since 2015.<br>After working for an owned media site at an internet advertising company for 4 years, I became independent as a freelancer.<br>Currently, I am involved in the development of shopping sites and landing pages, with a design perspective that focuses on layout and color schemes.</p>
			<p v-else>2015年に事業会社のインハウスエンジニアとして就職。オウンドメディアサイトのフロントエンド開発を中心に約5年間勤めました。その後、フリーランスとして独立し、近年はECサイトやランディングページの制作に携わっています。レイアウトや配色におけるデザインの視点を大切にしています。</p>
		</div>
	</div>
</section>