<section id="About" class="ah_block ah_about">
	<div class="ah_block-inner">
		<div class="ah_block-header fadeInUp">
			<h2>About me</h2>
			<p v-if="isEn">I'm from Aichi and live in Tokyo. I studied topology and 3DCG animation in college.<br>Since 2015, as a web designer and front-end developer in a business company, I was mainly involved in the new development of owned media. At the same time, I got a degree in art while working. From 2019, I have engaged design and operation of art work exhibitions, planning and editing web contents in the e-commerce site management company for contemporary art. Then I became a freelancer in 2021.</p>
			<p v-else>愛知県生まれ、東京都在住。<br>大学時代に位相幾何学と3DCGアニメーションを学ぶ。2015年より事業会社のWEBデザイナー・フロントエンドエンジニアとして、主にオウンドメディアの新規開発に携わる。働きながら芸術の学位を取得し、2019年に現代アートのECサイト運営会社へ転職。作品展示の設計・運営やWEBコンテンツの企画・編集に従事した後、2021年にフリーランスとして独立。</p>
		</div>
	</div>
</section>
