<footer id="Contact" class="ah_footer">
	<div class="ah_footer-content fadeInUp">
		<span>Ayaka Hoshino</span>
		<a href="https://www.facebook.com/ayaka.hoshino.7" target="_blank">
			<img src="dist/assets/facebook-icon.svg" alt="facebook icon">
		</a>
		<p v-if="isEn">WEBサイト制作のオーダーは<br class="ah_sp--view">お知り合いの方のみ承っております。</p>
		<p v-else>I only accept orders for website production <br class="ah_sp--view">from people I know.</p>
	</div>
	<div class="ah_mv-language fadeInUp">
		<button type="button" :class="['ah_mv-language_button', isEn? 'ah_mv-language_button--active disabled' : '']" @click="switchLang(true)">EN</button>
		<span>/</span>
		<button type="button" :class="['ah_mv-language_button', isEn? '' : 'ah_mv-language_button--active disabled']" @click="switchLang(false)">JA</button>
	</div>
	<div class="ah_footer-license">
		<p>&copy;Ayaka Hoshino</p>
		<p>WebFont: <a href="http://www.onlinewebfonts.com" target="_blank">ONline Web Fonts</a></p>
	</div>
</footer>