<footer id="Contact" class="ah_footer">
	<div class="ah_footer-content">
		<span>Ayaka Hoshino</span>
		<a href="https://www.facebook.com/ayaka.hoshino.7" target="_blank">
			<img src="dist/assets/facebook-icon.svg" alt="facebook icon">
		</a>
	</div>
	<div class="ah_footer-license">
		Fonts made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0
	</div>
</footer>