<footer class="ah_footer">
	<div class="ah_footer-content">
		<span>Ayaka Hoshino</span>
		<a href="https://www.facebook.com/ayaka.hoshino.7" target="_blank">
			<img src="dist/assets/facebook-icon.svg" alt="facebook icon">
		</a>
	</div>
</footer>