<footer id="Contact" class="ah_footer">
	<div class="ah_footer-content">
		<span>Ayaka Hoshino</span>
		<a href="https://www.facebook.com/ayaka.hoshino.7" target="_blank">
			<img src="dist/assets/facebook-icon.svg" alt="facebook icon">
		</a>
	</div>
	<div class="ah_mv-language">
		<button type="button" :class="['ah_mv-language_button', isEn? 'ah_mv-language_button--active disabled' : '']" @click="switchLang(true)">EN</button>
		<span>/</span>
		<button type="button" :class="['ah_mv-language_button', isEn? '' : 'ah_mv-language_button--active disabled']" @click="switchLang(false)">JP</button>
	</div>
	<div class="ah_footer-license">
		<p>&copy;Ayaka Hoshino</p>
		<p>WebFont: <a href="http://www.onlinewebfonts.com" target="_blank">ONline Web Fonts</a></p>
	</div>
</footer>