<head prefix="og:http://ogp.me/ns#">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="dist/css/style.css">
  <link rel="icon" href="dist/assets/favicon.ico">
  <link rel="icon" href="dist/assets/favicon.png">
  <link rel="apple-touch-icon" href="dist/assets/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="dist/assets/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
  <title>Ayaka Hoshino</title>
  <meta name="description" content="My Portfolio - Front End Developer">
  <meta name="keywords" content="Ayaka Hoshino, Portfolio, fontend developer">
  <meta property="og:title" content="Ayaka Hoshino">
  <meta property="og:description" content="My Portfolio - Front End Developer">
  <meta property="og:url" content="https://aykhsn.github.io/portfolio/">
  <meta property="og:image" content="https://aykhsn.github.io/portfolio/dist/assets/ogp.png">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Ayaka Hoshino">
  <meta property="og:locale" content="ja_JP">
</head>