<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="dist/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
  <title>Ayaka Hoshino</title>
  <meta name="description" content="Ayaka Hoshino - Portfolio site -">
  <meta name="keywords" content="Ayaka Hoshino, Portfolio, fontend developer">
  <meta property="og:site_name" content="Ayaka Hoshino">
  <meta property="og:title" content="Ayaka Hoshino">
  <meta property="og:description" content="Ayaka Hoshino - Portfolio site -">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:locale" content="ja_JP">
</head>