<div id="loading" class="ah_loading">
	<div class="ah_loading-triangle">
		<img class="ah_mv-triangle" src="dist/assets/triangle.svg">
	</div>
	<div class="ah_loading-logo">
		<img src="dist/assets/logo.svg">
	</div>
	<div class="ah_loading-wave">
		<img src="dist/assets/wave-h.svg">
	</div>
</div>