<section id="mv" class="ah_block ah_mv">
	<div class="ah_block-inner ah_mv-inner">
		<div class="ah_mv-header">
			<div class="ah_mv-language">
				<button type="button" :class="['ah_mv-language_button', isEn? 'ah_mv-language_button--active disabled' : '']" @click="switchLang(true)">EN</button>
				<span>/</span>
				<button type="button" :class="['ah_mv-language_button', isEn? '' : 'ah_mv-language_button--active disabled']" @click="switchLang(false)">JA</button>
			</div>
		</div>
		<div class="ah_mv-block">
			<div class="ah_mv-block_left">
				<div class="ah_mv-block_top slideInLeftToRight">
					<h1>
						<img class="ah_pc--view" src="dist/assets/name-right.svg" alt="Ayaka Hoshino">
						<img class="ah_sp--view" src="dist/assets/name-left.svg" alt="Ayaka Hoshino">
					</h1>
				</div>
				<div class="ah_mv-block_middle slideInLeftToRight">
					<h2>Front End Developer</h2>
				</div>
			</div>
			<div class="ah_mv-block_center">
				<div class="ah_mv-picture_wrapper">
					<img class="ah_mv-picture" src="dist/assets/mv_picture.png" alt="profile picture">
				</div>
			</div>
			<div class="ah_mv-block_right slideInRightToLeft">
				<p v-if="isEn">Hello! I’m a Front End Developer / Web Designer based in Tokyo. I also like to draw illustrations.</p>
				<p v-else>東京を拠点にフロントエンドエンジニア・WEBデザイナーとして活動しています。イラストを描くことも好きです。</p>
			</div>
		</div>
		<div class="ah_mv-footer">
			<div class="ah_mv-triangle_wrapper">
				<img class="ah_mv-triangle" src="dist/assets/triangle.svg">
			</div>
		</div>
	</div>
</section>