<nav class="ah_navigation">
	<div class="ah_navigation-logo_wrapper fadeIn">
		<button type="button" @click="scrollToTarget('Top')">
			<img class="ah_navigation-logo rotate" src="dist/assets/logo.svg" alt="Ayaka Hoshino's Portfolio">
		</button>
	</div>
	<ul id="Navigation" class="ah_navigation-items fadeIn">
		<li v-for="item in navigationItems" class="ah_navigation-item">
			<button :name="item" @click="scrollToTarget(item)">{{ item }}</button>
		</li>
	</ul>
</nav>