<nav class="ah_navigation">
	<div class="ah_navigation-logo_wrapper">
		<a href="/">
			<img class="ah_navigation-logo" src="dist/assets/logo.svg" alt="Ayaka Hoshino's Portfolio">
		</a>
	</div>
	<ul class="ah_navigation-items">
		<li class="ah_navigation-item">
			<a href="/#Top" class="scrollButton">
				<svg viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M18.0322 8.45014L14 0L9.96776 8.45014L0.685181 9.67376L7.47572 16.1199L5.77098 25.3262L14 20.86L22.229 25.3262L20.5242 16.1199L27.3148 9.67376L18.0322 8.45014ZM22.898 11.1089L16.6946 10.2911L14 4.64405L11.3053 10.2911L5.10193 11.1089L9.63993 15.4167L8.50068 21.5691L14 18.5844L19.4993 21.5691L18.36 15.4167L22.898 11.1089Z" fill-opacity="0.8"/>
				</svg>
			</a>
		</li>
		<% var ary = ['About', 'Skills', 'Works', 'Other', 'Contact']; %>
		<% ary.forEach(function (value, key) { %>
		<li class="ah_navigation-item">
			<a href="/#<%= value %>" class="scrollButton"><%= value %></a>
		</li>
		<% }); %>
	</ul>
</nav>