<section class="ah_block ah_other">
	<div class="ah_block-inner">
		<div class="ah_block-header">
			<h2>Other</h2>
			<p>I love character design. Many of these are sold as stickers for use on LINE.</p>
		</div>
	</div>
	<div class="ah_other-content">
		<ul>
			<% for (var i = 0; i < 4; i++) { %>
			<li>
				<img src="dist/assets/other_baby-<%= i + 1 %>.png">
			</li>
			<% } %>
			<% for (var i = 0; i < 4; i++) { %>
			<li>
				<img src="dist/assets/other_candy-<%= i + 1 %>.png">
			</li>
			<% } %>
			<% for (var i = 0; i < 4; i++) { %>
			<li>
				<img src="dist/assets/other_line-<%= i + 1 %>.png">
			</li>
			<% } %>
		</ul>
	</div>
</section>