<section id="Other" class="ah_block ah_other">
	<div class="ah_block-inner">
		<div class="ah_block-header">
			<h2>Other</h2>
			<p v-if="isEn">I like drawing illustrations, especially character design. Some are on sale as LINE stickers!</p>
			<p v-else>イラストを描くこと、特にキャラクターデザインが好きです。LINEスタンプ発売中！</p>
		</div>
	</div>
	<div class="ah_other-content">
		<a href="https://store.line.me/stickershop/author/208490/" target="_blank">
			<ul>
				<% for (var i = 0; i < 4; i++) { %>
				<li>
					<img src="dist/assets/other_baby-<%= i + 1 %>.png">
				</li>
				<% } %>
				<% for (var i = 0; i < 4; i++) { %>
				<li>
					<img src="dist/assets/other_candy-<%= i + 1 %>.png">
				</li>
				<% } %>
				<% for (var i = 0; i < 4; i++) { %>
				<li>
					<img src="dist/assets/other_line-<%= i + 1 %>.png">
				</li>
				<% } %>
			</ul>
		</a>
	</div>
</section>