<section class="ah_block ah_other">
	<div class="ah_block-inner">
		<div class="ah_block-header">
			<h2>Other</h2>
			<p>I love character design. Many of these are sold as stickers for use on LINE.</p>
		</div>
	</div>
</section>