<section id="Skills" class="ah_block ah_skills">
	<div class="ah_block-inner">
		<div class="ah_block-header">
			<h2>Skills</h2>
			<p v-if="isEn">These are the main skills and experience points I use to create websites.</p>
			<p v-else>WEBサイト制作に使用している主なスキルと経験値です。</p>
		</div>
		<div class="ah_skills-content">
			<ul id="barGraph">
				<li>
					<div class="ah_skills-content_name">
						<span>HTML5 / CSS3</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--90">
						<span></span>
					</div>
					<div class="ah_skills-content_value">
						<span>90%</span>
					</div>
				</li>
				<li>
					<div class="ah_skills-content_name">
						<span>JavaScript / ES11</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--90">
						<span></span>
					</div>
					<div class="ah_skills-content_value">
						<span>90%</span>
					</div>
				</li>
				<li>
					<div class="ah_skills-content_name">
						<span>Vue.js</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--80">
						<span></span>
					</div>
					<div class="ah_skills-content_value">
						<span>80%</span>
					</div>
				</li>
				<li>
					<div class="ah_skills-content_name">
						<span>TypeScript</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--60">
						<span></span>
					</div>
					<div class="ah_skills-content_value">
						<span>60%</span>
					</div>
				</li>
				<li>
					<div class="ah_skills-content_name">
						<span>ReactNative / Redux</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--50">
						<span></span>
					</div>
					<div class="ah_skills-content_value">
						<span>50%</span>
					</div>
				</li>
				<li>
					<div class="ah_skills-content_name">
						<span>Wordpress / Shopify</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--70">
						<span></span>
					</div>
					<div class="ah_skills-content_value">
						<span>70%</span>
					</div>
				</li>
				<li>
					<div class="ah_skills-content_name">
						<span>Figma</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--60">
						<span></span>
					</div>
					<div class="ah_skills-content_value">
						<span>60%</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>