<section class="ah_block ah_skills">
	<div class="ah_block-inner">
		<div class="ah_block-header">
			<h2>Skills</h2>
			<p>These are the main technologies I use to realise most of my works.</p>
		</div>
		<div class="ah_skills-content">
			<ul>
				<li>
					<div class="ah_skills-content_name">
						<span>HTML5 / CSS3</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--90">
						<% for (var i = 0; i < 10; i++) { %>
						<span></span>
						<% } %>
					</div>
					<div class="ah_skills-content_value">
						<span>90%</span>
					</div>
				</li>
				<li>
					<div class="ah_skills-content_name">
						<span>ES6 / Type Script</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--80">
						<% for (var i = 0; i < 10; i++) { %>
						<span></span>
						<% } %>
					</div>
					<div class="ah_skills-content_value">
						<span>80%</span>
					</div>
				</li>
				<li>
					<div class="ah_skills-content_name">
						<span>Vue.js</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--80">
						<% for (var i = 0; i < 10; i++) { %>
						<span></span>
						<% } %>
					</div>
					<div class="ah_skills-content_value">
						<span>80%</span>
					</div>
				</li>
				<li>
					<div class="ah_skills-content_name">
						<span>React Native / Redux</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--50">
						<% for (var i = 0; i < 10; i++) { %>
						<span></span>
						<% } %>
					</div>
					<div class="ah_skills-content_value">
						<span>50%</span>
					</div>
				</li>
				<li>
					<div class="ah_skills-content_name">
						<span>Wordpress</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--70">
						<% for (var i = 0; i < 10; i++) { %>
						<span></span>
						<% } %>
					</div>
					<div class="ah_skills-content_value">
						<span>70%</span>
					</div>
				</li>
				<li>
					<div class="ah_skills-content_name">
						<span>Shopify</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--70">
						<% for (var i = 0; i < 10; i++) { %>
						<span></span>
						<% } %>
					</div>
					<div class="ah_skills-content_value">
						<span>70%</span>
					</div>
				</li>
				<li>
					<div class="ah_skills-content_name">
						<span>Sketch / InVision / Figma</span>
					</div>
					<div class="ah_skills-content_bar ah_skills-content_bar--60">
						<% for (var i = 0; i < 10; i++) { %>
						<span></span>
						<% } %>
					</div>
					<div class="ah_skills-content_value">
						<span>60%</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>