<section id="Works" class="ah_block ah_works">
	<div class="ah_block-inner">
		<div class="ah_block-header fadeInUp">
			<h2>Works</h2>
			<p v-if="isEn">This is my main job so far. After developing owned media front-ends, I am currently creating corporate corporate sites and e-commerce sites.</p>
			<p v-else>これまでの主な仕事です。オウンドメディアのフロントエンド開発を経て、現在は企業のコーポレイトサイトやECサイトを制作しています。</p>
		</div>
		<div class="ah_works-content">
			<ul>
				<li class="ah_works-content_item fadeInUp">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2022</span>
							</div>
							<div class="ah_works-content_image">
								<a href="https://modernity.jp/" target="_blank">
									<img src="dist/assets/works_modernity.png" alt="modernity website">
								</a>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3>Modernity</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">Front-end development by Shopify customization</p>
										<p v-else>Shopify のカスタマイズによるフロントエンド新規開発</p>
									</li>
									<li>
										<p v-if="isEn">Creating of campaign setting function by Liquid</p>
										<p v-else>Liquid 言語によるキャンペーン設定機能の作成</p>
									</li>
									<li>
										<p v-if="isEn">Customization of product color selection function</p>
										<p v-else>Liquid 言語による商品カラー選択機能の作成</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Shopify / Liquid / Gulp / Sass / EJS / ES11 / jQuery</p>
							</div>
							<div class="ah_works-content_member">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
								</div>
								<p>Design × 1</p>
								<p>Front-end × 1</p>
							</div>
						</div>
					</div>
				</li>
				<li class="ah_works-content_item fadeInUp">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2022</span>
							</div>
							<div class="ah_works-content_image">
								<a onclick="window.location.reload(true);">
									<img src="dist/assets/works_portfolio.png" alt="my portfolio website">
								</a>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3>My Portfolio</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">Design and Front-end development from scratch</p>
										<p v-else>デザインとフロントエンド開発</p>
									</li>
									<li>
										<p v-if="isEn">Illustration the main visual</p>
										<p v-else>メインビジュアルのイラスト制作</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Figma / Gulp / Sass / EJS / ES11 / Vue.js</p>
							</div>
							<div class="ah_works-content_member">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
								</div>
								<p>Design & Front-end × 1</p>
							</div>
							<div class="ah_works-content_sns">
								<a href="https://github.com/aykhsn/portfolio" target="_blank">
									<img src="dist/assets/github.svg">
								</a>
							</div>
						</div>
					</div>
				</li>
				<li class="ah_works-content_item fadeInUp">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2021</span>
							</div>
							<div class="ah_works-content_image">
								<a href="https://lp.and-art.jp/campaigns/4/" target="_blank">
									<img src="dist/assets/works_andart-lp.png" alt="andart website">
								</a>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3>ANDART</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">Front-end development of Landing page</p>
										<p v-else>ランディングページのフロントエンド開発</p>
									</li>
									<li>
										<p v-if="isEn">Creating slider using Swiper.js plugin</p>
										<p v-else>Swiper.js を使用したスライダーの作成</p>
									</li>
									<li>
										<p v-if="isEn">Creating accordion menu using JavaScript</p>
										<p v-else>JavaScript によるアコーディオンメニューの作成</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Gulp / Sass / EJS / ES11</p>
							</div>
							<div class="ah_works-content_member">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
								</div>
								<p>Design × 1</p>
								<p>Front-end × 1</p>
							</div>
						</div>
					</div>
				</li>
				<li v-if="worksAllShow" class="ah_works-content_item fadeInUp show">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2021</span>
							</div>
							<div class="ah_works-content_image">
								<a href="https://and-art.co.jp/" target="_blank">
									<img src="dist/assets/works_andart.png" alt="andart website">
								</a>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3 v-if="isEn">ANDART Co., Ltd.</h3>
								<h3 v-else>株式会社ANDART</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">Front-end development of corporate site for top page renewal</p>
										<p v-else>コーポレイトサイトのトップページリニューアルにおけるフロントエンド開発</p>
									</li>
									<li>
										<p v-if="isEn">Creating a new wordpress theme</p>
										<p v-else>新規ワードプレステーマの作成</p>
									</li>
									<li>
										<p v-if="isEn">Creating a parallax scrolling effect</p>
										<p v-else>背景パララックス効果の実装</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Wordpress / Gulp / Sass / EJS / ES11</p>
							</div>
							<div class="ah_works-content_member">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
								</div>
								<p>Design × 1</p>
								<p>Front-end × 1</p>
							</div>
						</div>
					</div>
				</li>
				<li v-if="worksAllShow" class="ah_works-content_item fadeInUp ah_works-content_item-no-image">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2019</span>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3 v-if="isEn">auGame</h3>
								<h3 v-else>auゲーム</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">Front-end development of landing page for operation and maintenance</p>
										<p v-else>ランディングページの運営保守におけるフロントエンド開発</p>
									</li>
									<li>
										<p v-if="isEn">Introducing Web Components to componentize the UI</p>
										<p v-else>UI コンポーネント化のための Web Components の導入</p>
									</li>
									<li>
										<p v-if="isEn">Introducing Utility CSS to reuse components</p>
										<p v-else>コンポーネント再利用のための Utility CSS の導入</p>
									</li>
									<li>
										<p v-if="isEn">Introducing Tailwind CSS for CSS framework</p>
										<p v-else>CSSフレームワークに Tailwind CSS の導入</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Tailwind CSS / Webpack / Web Components</p>
							</div>
							<div class="ah_works-content_member">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
								</div>
								<p>Design × 1</p>
								<p>Front-end × 2</p>
							</div>
						</div>
					</div>
				</li>
				<li v-if="worksAllShow" class="ah_works-content_item fadeInUp ah_works-content_item-no-image">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2018</span>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3 v-if="isEn">Library manager</h3>
								<h3 v-else>社内図書管理システム</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">UI design with Atomic Design</p>
										<p v-else>アトミックデザインによる UI デザイン</p>
									</li>
									<li>
										<p v-if="isEn">Development of Mobile App　in View + ViewModel</p>
										<p v-else>モバイルアプリ開発において View + ViewModel を担当</p>
									</li>
									<li>
										<p v-if="isEn">Introducing ReactNative and Redux for cross-platform development</p>
										<p v-else>クロスプラットフォーム開発のために React Native, Redux を導入</p>
									</li>
									<li>
										<p v-if="isEn">Teamwork in agile without a director</p>
										<p v-else>ディレクターを配置しないアジャイル開発でのチームワーク</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Type Script / React Native / Redux / Firebase / Atomic Design</p>
							</div>
							<div class="ah_works-content_member">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
								</div>
								<p>Design × 1</p>
								<p>Front-end × 1</p>
								<p>Back-end × 3</p>
							</div>
						</div>
					</div>
				</li>
				<li v-if="worksAllShow" class="ah_works-content_item fadeInUp ah_works-content_item-no-image">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2017</span>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3 v-if="isEn">Tsuretette</h3>
								<h3 v-else>つれてって</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">Design and Front-end development of information site for launch new site</p>
										<p v-else>情報サイトのデザイン制作とフロントエンドの新規開発</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Adobe Illustrator / Adobe Photoshop / Sketch / inVision / Gulp / Webpack / FLOCSS / ES6 / jQuery / Vue.js</p>
							</div>
							<div class="ah_works-content_member">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
								</div>
								<p>Design & Front-end × 1</p>
								<p>Back-end × 2</p>
							</div>
						</div>
					</div>
				</li>
				<li v-if="worksAllShow" class="ah_works-content_item fadeInUp ah_works-content_item-no-image">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2016</span>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3 v-if="isEn">Advertisement Posting System</h3>
								<h3 v-else>広告配信システムSDK</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">Front-end development from scratch for launch new system</p>
										<p v-else>フロントエンドのスクラッチによる新規開発</p>
									</li>
									<li>
										<p v-if="isEn">Customizing text editor plugins</p>
										<p v-else>テキストエディターのプラグインのカスタマイズ</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Gulp / Webpack / ES6 / jQuery / Vue.js</p>
							</div>
							<div class="ah_works-content_member">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
								</div>
								<p>Front-end × 1</p>
								<p>Back-end × 4</p>
							</div>
						</div>
					</div>
				</li>
				<li v-if="worksAllShow" class="ah_works-content_item fadeInUp ah_works-content_item-no-image">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2015</span>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3>Camily</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p v-if="isEn">Front-end development of information site for launch new site</p>
										<p v-else>情報サイトのフロントエンド新規開発</p>
									</li>
									<li>
										<p v-if="isEn">Introducing AMP for creating user-first experiences</p>
										<p v-else>ユーザー体験向上に向けた AMP の導入</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Gulp / Webpack / BEM / ES6 / jQuery / Vue.js</p>
							</div>
							<div class="ah_works-content_member">
								<div class="ah_works-content_member-icon">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
									<img src="dist/assets/member.svg">
								</div>
								<p>Design × 1</p>
								<p>Front-end × 2</p>
								<p>Back-end × 1</p>
							</div>
						</div>
					</div>
				</li>
				<li v-if="!worksAllShow" class="ah_works-content_button-wrapper ah_works-content_item fadeInUp">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
						</div>
						<div class="ah_works-content_block-right">
							<button type="button" @click="switchWorks" class="ah_works-content_button">
								<span>Read more</span>
							</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>

