<section class="ah_block ah_works">
	<div class="ah_block-inner">
		<div class="ah_block-header">
			<h2>Works</h2>
			<p>These are the main my works I have developed from 2015 to recent.</p>
		</div>
		<div class="ah_works-content">
			<ul>
				<li class="ah_works-content_item">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2022</span>
							</div>
							<div class="ah_works-content_image">
								<a href="https://modernity.jp/" target="_blank">
									<img src="dist/assets/works_modernity.png" alt="modernity website">
								</a>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3>Modernity <br class="ah_sp--view">(E-Commerce store)</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p>Front-end development by customizing shopify</p>
									</li>
									<li>
										<p>Creating of automatic reservation system</p>
									</li>
									<li>
										<p>Customization of automatic reply mail</p>
									</li>
									<li>
										<p>Customization of product color selection function</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Shopify / Gulp / Sass / EJS / Javascript / jQuery</p>
							</div>
						</div>
					</div>
				</li>
				<li class="ah_works-content_item">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2022</span>
							</div>
							<div class="ah_works-content_image">
								<a href="/">
									<img src="dist/assets/works_portfolio.png" alt="my portfolio website">
								</a>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3>My Portfolio</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p>Web Design and Front-end development from scratch</p>
									</li>
									<li>
										<p>Illustration the main visual</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Gulp / Sass / EJS / Javascript / Vue.js</p>
							</div>
						</div>
					</div>
				</li>
				<li class="ah_works-content_item">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2021</span>
							</div>
							<div class="ah_works-content_image">
								<a href="https://lp.and-art.jp/campaigns/4/">
									<img src="dist/assets/works_andart-lp.png" alt="andart website">
								</a>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3>AND ART <br class="ah_sp--view">(Landing page)</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p>Front-end development from scratch</p>
									</li>
									<li>
										<p>Creating slider using swiper.js plugin</p>
									</li>
									<li>
										<p>Creating accordion menu using javascript</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Gulp / Sass / EJS / Javascript</p>
							</div>
						</div>
					</div>
				</li>
				<li class="ah_works-content_item">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2021</span>
							</div>
							<div class="ah_works-content_image">
								<a href="https://and-art.co.jp/">
									<img src="dist/assets/works_andart.png" alt="andart website">
								</a>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3>AND ART <br class="ah_sp--view">(Corporate Site)</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p>Front-end development for top page renewal</p>
									</li>
									<li>
										<p>Creating a wordpress theme</p>
									</li>
									<li>
										<p>Creating a parallax scrolling effect</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Wordpress / Gulp / Sass / EJS / Javascript</p>
							</div>
						</div>
					</div>
				</li>
				<li class="ah_works-content_item ah_works-content_item-no-image">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2019</span>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3>AU Game <br class="ah_sp--view">(Landing Page)</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p>Front-end development for operation and maintenance</p>
									</li>
									<li>
										<p>Introducing Web Components to componentize the UI</p>
									</li>
									<li>
										<p>Introducing Utility CSS to reuse components</p>
									</li>
									<li>
										<p>Introducing Tailwind CSS for rapidly building custom UI</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Tailwind CSS / Webpack / Web Components</p>
							</div>
						</div>
					</div>
				</li>
				<li class="ah_works-content_item ah_works-content_item-no-image">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2018</span>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3>Library manager <br class="ah_sp--view">(Mobile App)</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p>UI design with Atomic Design</p>
									</li>
									<li>
										<p>Development of View + ViewModel</p>
									</li>
									<li>
										<p>Introducing React Native for cross-platform development</p>
									</li>
									<li>
										<p>Introducing Redux for data flow management</p>
									</li>
									<li>
										<p>Teamwork in agile without a director</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Type Script / React Native / Redux / Firebase / Atomic Design</p>
							</div>
						</div>
					</div>
				</li>
				<li class="ah_works-content_item ah_works-content_item-no-image">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2017</span>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3>Tsuretette <br class="ah_sp--view">(Information Site)</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p>Web design and Front-end development for launch new site</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Adobe Illustrator / Adobe Photoshop / Sketch / inVision Gulp / Webpack / FLOCSS / ES6 / jQuery / Vue.js</p>
							</div>
						</div>
					</div>
				</li>
				<li class="ah_works-content_item ah_works-content_item-no-image">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2016</span>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3>Advertisement Posting System</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p>Front-end development from scratch for launch new system</p>
									</li>
									<li>
										<p>Customizing text editor plugins</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Gulp / Webpack / ES6 / jQuery / Vue.js</p>
							</div>
						</div>
					</div>
				</li>
				<li class="ah_works-content_item ah_works-content_item-no-image">
					<div class="ah_works-content_block">
						<div class="ah_works-content_block-left">
							<div class="ah_works-content_year">
								<span>2015</span>
							</div>
						</div>
						<div class="ah_works-content_block-right">
							<div class="ah_works-content_title">
								<h3>Camily <br class="ah_sp--view">(Information site)</h3>
							</div>
							<div class="ah_works-content_description">
								<h4>What I did</h4>
								<ul>
									<li>
										<p>Front-end development from scratch for launch new site</p>
									</li>
									<li>
										<p>Introducing AMP for creating user-first experiences</p>
									</li>
								<ul>
							</div>
							<div class="ah_works-content_description">
								<h4>What I used</h4>
								<p>Gulp / Webpack / BEM / ES6 / jQuery / Vue.js</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>