@import "../setting/breakpoints";

/**********************
 footer
***********************/
.#{$siteName} {
	&_footer {
		background-color: var(--#{$siteName}_main-color);

		& .#{$siteName}_mv-language {
			position: unset;
			text-align: center;
			padding-bottom: 12rem;

			@include mediaQuery(m) {
				padding-bottom: 10rem;
			}
		}

		&-content {
			padding: 28rem 0 4rem;
			text-align: center;

			@include mediaQuery(m) {
				padding: 16rem 0 4rem;
			}

			& span {
				position: relative;
				display: block;
				padding: 3.375rem 0;
				font-size: 1.375rem;
				font-weight: 600;
				letter-spacing: 0.02em;
				font-family: 'Montserrat Alternates', sans-serif;
				color: var(--#{$siteName}_accent-color);

				@include mediaQuery(m) {
					padding: 1.5rem 0;
					font-size: 0.8rem;
				}

				&::before {
					position: absolute;
					display: inline-block;
					bottom: 100%;
					left: calc(50% - (7rem / 2));
					content: "";
					height: 1rem;
					width: 7rem;
					background-size: contain;
					background-image: url(../assets/wave-v.svg);
					background-repeat: no-repeat;

					@include mediaQuery(m) {
						width: 5rem;
						left: calc(50% - (5rem / 2));
					}
				}
			}

			& a {
				display: inline-block;
			}

			& img {
				width: 2rem;
				height: 2rem;

				@include mediaQuery(m) {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}

		&-license {
			padding-bottom: 4rem;
			text-align: center;

			& p {
				font-size: 0.6rem;
				line-height: 2;
				color: var(--#{$siteName}_accent-color);
			}

			& a {
				color: inherit;
				font-size: inherit;
			}
		}
	}
}