@import "../setting/breakpoints";

/**********************
 navigation
***********************/
.#{$siteName} {
  &_navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;

    @include mediaQuery(m) {
      position: relative;
    }

    &-logo {
      position: absolute;
      left: 2rem;
      top: 2rem;
      width: 7.75rem;
      height: 7.75rem;
      transition: var(--#{$siteName}_transition);

      @include mediaQuery(m) {
        position: fixed;
        left: 0.5rem;
        top: 0.5rem;
        width: 5rem;
        height: 5rem;
      }
    }

    &-items {
      position: absolute;
      left: calc(100vw - 1rem);
      top: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60vh;
      transform: rotate(90deg);
      transform-origin: top left;

      @include mediaQuery(m) {
        position: fixed;
        top: unset;
        left: 0;
        bottom: -5rem;
        width: 100%;
        padding: 0 1rem;
        transform: unset;
        background-color: rgba(254, 173, 129, 0.95);
        box-shadow: 0 1px 6px 0 rgb(210, 186, 172);
        z-index: 10000;
        transition: all 0.4s ease-in-out;
      }

      &.show {
        @include mediaQuery(m) {
          bottom: 0;
        }
      }

      & button {
        display: block;
        font-size: 1rem;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 500;
        letter-spacing: 0.1em;
        color: var(--#{$siteName}_link-color);
        transition: var(--#{$siteName}_transition);

        @include mediaQuery(m) {
          padding: 1rem 0;
          font-size: 0.9rem;
          font-weight: 500;
          letter-spacing: 0.02em;
          color: #ffffff;
        }

        &.active {
          color: var(--#{$siteName}_accent-color)!important;
        }
      }
    }
  }
}