@import "../setting/breakpoints";

/**********************
 navigation
***********************/
.#{$siteName} {
  &_navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;

    @include mediaQuery(m) {
      position: relative;
    }

    &-logo {
      position: absolute;
      left: 2rem;
      top: 2rem;
      width: 7.75rem;
      height: 7.75rem;
      transition: var(--#{$siteName}_transition);

      @include mediaQuery(m) {
        position: fixed;
        left: 0.5rem;
        top: 0.5rem;
        width: 5rem;
        height: 5rem;
      }
    }

    &-items {
      position: absolute;
      left: calc(100vw - 1rem);
      top: 6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100vh - 6rem * 2);
      transform: rotate(90deg);
      transform-origin: top left;
      opacity: 0;

      @include mediaQuery(m) {
        position: fixed;
        top: unset;
        left: 0;
        bottom: -5rem;
        width: 100%;
        padding: 0 1rem;
        transform: unset;
        background-color: rgba(251, 154, 101, 0.95);
        box-shadow: 0 1px 6px 0 rgb(210, 186, 172);
        z-index: 10000;
        transition: all 0.4s ease-in-out;
      }

      &.show {
        & button {
          margin-top: 0;
        }

        @include mediaQuery(m) {
          left: 0;
          bottom: 0;
        }
      }

      & button {
        display: block;
        margin-top: -2rem;
        font-size: 0.9rem;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 500;
        letter-spacing: 0.1em;
        color: #fe9760;
        transition: var(--#{$siteName}_transition);
        transition: all 0.4s ease-in-out;

        @include mediaQuery(m) {
          margin-top: 0;
          padding: 1rem 0;
          font-size: 0.9rem;
          letter-spacing: 0.02em;
          color: #ffffff;
        }

        &.active {
          font-weight: 600;
          color: var(--#{$siteName}_accent-color)!important;

          @include mediaQuery(m) {
            font-weight: 500;
          }
        }
      }
    }
  }
}