@import "../setting/breakpoints";

/**********************
 block
***********************/
.#{$siteName} {
  &_block {
    width: 100%;

    &-inner {
      max-width: var(--#{$siteName}_full-width);
      padding: 0 4rem;
      margin: 0 auto;

      @include mediaQuery(m) {
        padding: 0 1rem;
      }
    }
  }
}